<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">Test Technical Skill Position Of Dev Login</h1>
        <div class="row">
            <div class="col-sm-5 bg-light border rounded py-3">
                <h2 class="text-center">Login</h2>
                <form action="" method="POST">
                    <div class="form-group">
                      <label for="_username">Username</label>
                      <input type="text" 
                             name="user_name" 
                             id="_username" 
                             maxlength="12"
                             class="form-control"  
                             onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                             placeholder="Username" required>
                      <!--rnodeequired-->
                    </div>
                    <div class="form-group">
                      <label for="_pass">Password</label>
                      <input type="password" name="user_pass" id="_pass" class="form-control" placeholder="Password" required>
                    </div>
                    <% if (locals.login_errors) { 
                      login_errors.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } %>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-sm-6 bg-light rounded border py-3 offset-sm-1">
                <h2 class="text-center">Register</h2>

                <form action="/register_user" method="POST" novalidate>
                        <div class="form-group">
                          <label for="_rname">Name</label>
                          <input type="text" 
                                 name="user_name" id="_rname" 
                                 class="form-control" 
                                 placeholder="Name" 
                                 
                                 value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
                        </div> 

                        <div class="form-group">
                          <label for="_rlname">Last Name</label>
                          <input type="text" 
                                 name="user_lastname" id="_rlname" 
                                 class="form-control" 
                                 placeholder="Lastname" 
                                 
                                 value="<%= (locals.old_data) ? old_data.user_lastname : ''; %>" required>
                        </div> 
                        
                        <div class="form-group">
                          <label for="_rusername">Username</label>
                          <input type="text" 
                                 name="user_username" 
                                 id="_rusername" 
                                 class="form-control"  
                                 onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)"
                                 maxlength="12"
                                 placeholder="Username" 
                                 value="<%= (locals.old_data) ? old_data.user_username : ''; %>"
                                 required>
                        </div>
                        <div class="form-group">
                          <label for="_rpass">Password</label>
                          <input type="password" 
                                 name="user_pass" 
                                 id="_rpass" 
                                 class="form-control" 
                                 minlength="6"
                                 pattern="^(?:(\w)(?!\1\1))+$"
                                 placeholder="Password" 
                                 required>
                        </div>
                        <% if (locals.register_error) { 
                          register_error.forEach(function(error_msg){ %>
                          <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                        <% });
                        } %>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>

            </div>
        </div>
    </div>
</body>
</html>